[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
starlette = "*"
pypdf = "*"
ipython = "*"
sentence-transformers = "*"
langchain-community = "*"
python-dotenv = "*"
langchain-qdrant = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.12"
